.home-div-container{
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  padding-top: 20px;
}
.chart-container{
  padding: 40px;
  border-radius: 20px;
  box-shadow: #919eab4d 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}
.header-chart-container{
  padding-bottom: 20px;
  padding-left: 15px;
}
.header-chart-container span{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6rem;
}
.apexcharts-menu-icon{
  margin-top: -40px;
}
.apexcharts-menu-icon svg {
  scale: 2;
}
.apexcharts-menu{
  box-shadow: #919eab4d 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  width: 200px;
}
.apexcharts-menu-item{
  padding: 20px 10px !important;
  font-size: 1rem !important;
  text-align: center;
}