.home-div-container {
  height: 100%;
}
.chart-container{
  height: 100%;
  padding: 28px 20px;
  padding-bottom: 60px;
  border-radius: 20px;
  /* box-shadow: #919eab4d 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px; */
}
.header-chart-container{
  padding-bottom: 20px;
  padding-left: 10px;
}
.header-chart-container span{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6rem;
}
.apexcharts-menu-icon{
  margin-top: -50px;
  margin-left: -37px;
}
.apexcharts-menu-icon svg {
  scale: 2;
}
.apexcharts-menu{
  box-shadow: #919eab4d 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  width: 200px;
}
.apexcharts-menu-item{
  padding: 20px 10px !important;
  font-size: 1rem !important;
  text-align: center;
}