.create-tecnician-container {
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.equipment-details-form {
  min-height: 100%;
  margin-top: 50px;
}

.content {
  display: flex;
  gap: 10rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input-container label{
  color: #8D98AB;
  font-size: 1rem;
}

.input-container input ,
.input-container select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8D98AB;
  outline: none;
  width: 300px;
}

.button-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  gap: 10rem;
}

.button-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3B86FF;
  color: white;
  font-size: 1rem;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.client-checkbox-container label {
  display: flex;
  gap: 10px;
}

.client-checkbox-container:hover input {
  border: none;
  outline: none;
}