.ticket-id-task-container ,
.open-close-date-container ,
.status-comment-container ,
.equipment-container ,
.technician-info-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10rem;
}

.ticket-id ,
.task ,
.open-date ,
.close-date ,
.status ,
.comment ,
.equipment ,
.owner ,
.technician-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ticket-id label ,
.task label ,
.open-date label ,
.close-date label ,
.status label ,
.comment label ,
.equipment label ,
.owner label ,
.technician-content label{
  color: #8D98AB;
  font-size: 1rem;
}

.ticket-id input ,
.task input , 
.open-date input ,
.close-date input,
.status input ,
.comment textarea ,
.equipment input ,
.owner input , 
.technician-content input ,
.technician-content select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8D98AB;
  outline: none;
  width: 300px;
}

.comment textarea {
  max-width: 300px;
  max-height: 100px;
}

.equipment-container-ticket, .ticket-id-task-container-ticket {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  gap: 10rem;
}

.button-container-ticket {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 10rem;
}

.button-container-ticket button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3B86FF;
  color: white;
  font-size: 1rem;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}