.app-container{
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}
.main-container{
  position: absolute;
  right: 0;
  min-height: 100vh;
  width: calc(100% - 250px);
}
.main-div{
  position: absolute;
  top: 85px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  box-sizing: border-box;
}